.landing-page
{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.about
{
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: center;
    align-items: center;
    text-align: center;

    box-sizing: border-box;
    padding: 3rem;

    background-color: var(--accent-color);
    color: #fff;
}
.about > p
{
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.login-wrapper
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}