.timeline-page-header
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 6rem;
    padding: 2rem;
}

.timeline-page-header > h3
{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.timeline-page-header > .timeline-controls
{
    display: flex;
    align-items: center;
}

.timeline-page-header > .timeline-controls > button
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;
    margin-right: 1.4rem;

    border-radius: 50%;
}
.timeline-page-header > .timeline-controls > button:focus
{
    outline: none;
}
.timeline-page-header > .timeline-controls > button:hover
{
    cursor: pointer;
}

.timeline-page-header > .timeline-controls > button > img
{
    height: 1rem;
    width: 1rem;
}

.btn-add
{
    background-color: var(--node-complete);
    border: 2px solid #000;

    transition: all .4s ease-out;
}

#btn-edit
{
    background-color: var(--accent-color);
    border: 2px solid #000;
}

#btn-delete
{
    border: 2px solid var(--node-problem);
}
#btn-delete-timeline
{
    transform: rotate(45deg);
}

.form-active
{
    background-color: var(--node-problem);
    transform: rotate(225deg);
}