#logout-button
{
    height: 1.8rem;
    padding: 0 .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border: 2px solid var(--node-problem);
    border-radius: .4rem;

    transition: background-color .4s;
}

#logout-button > a
{
    font-family: var(--font-body);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--node-problem);
    padding: .2rem;

    transition: color .4s;
}

#logout-button:hover
{
    background-color: var(--node-problem);
    cursor: pointer;
}
#logout-button:hover > a
{
    color: #fff;
}