.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 3rem;

    box-shadow: var(--shadow-light);
    z-index: 1000;
    position: relative;
}

.nav > li
{
    list-style-type: none;
    margin-right: 2rem;
}
.nav > div > li
{
    list-style-type: none;
}

@import './logoutbutton.css';