.form-login
{
    display: flex;
    flex-direction: column;
    width: 24rem;
}

.form-login > .form-group
{
    display: flex;
    align-items: center;
    position: relative;
    width: 24rem;
    margin-bottom: 3rem;
}
.form-login > .form-group > label
{
    position: absolute;
    left: 1rem;
    top: 1rem;

    font-family: var(--font-body);
    font-weight: 300;
    color: #777;
    text-transform: uppercase;

    transition: all .4s ease-out;
}
.form-login > .form-group > input
{
    height: 3rem;
    width: 24rem;
    border: none;
    border-bottom: 2px solid #777777;

    font-family: var(--font-body);
    font-weight: 300;
    font-size: 1rem;
    color: #000;
}
.form-login > .form-group > input:focus
{
    outline: none;
}

.form-login > .form-group > input:focus + label,
.form-login > .form-group > input:not([value=""]) + label
{
    font-size: .7rem;
    top: -.8rem;
}

@import './button.css';
@import './typography.css';