.date-time-selector
{
    position: fixed;
    top: 0;
    right: -35%;

    width: 30%;
    height: 100vh;
    
    background-color: #fff;
    box-shadow: 0 0 4px 6px rgba(100, 100, 100, .6);
    /* 0 0 0 10000px rgba(100, 100, 100, .4), */
    z-index: 20000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-in
{
    animation: slidein .4s ease-out forwards;
}
.slide-out
{
    animation: slideout .4s ease-in forwards;
}

@keyframes slidein
{
    0%
    {
        right: -35%;
    }
    100%
    {
        right: 0;
    }
}

@keyframes slideout
{
    0%
    {
        right: 0;
    }
    100%
    {
        right: -35%;
    }
}

@import './months.css';
@import './days.css';
@import './time.css';