.timeline-thumbnails > .form-thumbnail
{
    position: relative;
    left: 0;
    width: 25rem;
    max-width: 42%;
    min-width: 21rem;
    margin: 2rem 2rem 0 0;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
    
    background-color: #fff;

    transition: all .4s ease-out;
}
.timeline-thumbnails > .form-thumbnail:hover
{
    box-shadow: -6px 0 12px 1px rgba(100, 100, 100, .7);
    border: 2px solid var(--accent-color);
    left: 4px;
}

/*  ******  ******  *****   ******
    FORM INPUTS & LABELS
******  ******  ******  ******  */

.add-timeline-form,
.add-timeline-form > .form-group
{
    position: relative;
}

.add-timeline-form > .form-group > input
{
    width: 50%;
    padding: .4rem;

    font-family: var(--font-body);
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;

    color: var(--accent-color);
    border: none;
    border-bottom: 1px solid #777;

    margin-bottom: .4rem;
}
.add-timeline-form > .form-group > input:focus
{
    outline: none;
}

.add-timeline-form > .form-group > #description
{
    font-weight: 300;
}

.add-timeline-form > .form-group > label
{
    position: absolute;
    right: 48%;
    line-height: 1.4rem;
    padding: .2rem 0;

    font-family: var(--font-body);
    font-weight: 300;
    font-size: .8rem;
    text-transform: uppercase;
    color: #777;

    transition: all .4s;
}

.add-timeline-form > .form-group > input:focus + label,
.add-timeline-form > .form-group > input:not([value=""]) + label
{
    right: 25%;
    font-size: .6rem;
}

@import './formanimation.css';
@import './button.css';