@import url('https://fonts.googleapis.com/css?family=Noticia+Text:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,300,400,700&display=swap');

*
{
  padding: 0;
  margin: 0;
}

:root
{
  --font-title: 'Noticia Text', serif;
  --font-body: 'Montserrat', sans-serif;

  --node-pending: #ffc425;
  --node-complete: #00b159;
  --node-problem: #d11141;
  --accent-color: #00aedb;
  --background-faint: #fff7ed;

  --shadow-light: 0 0 3px 4px rgba(100, 100, 100, .4);
  --shadow-mid: 0 0 4px 6px rgba(100, 100, 100, .5);
}