.profile
{
    padding: 2rem;
    width: 50%;
}

.profile-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
}

.profile-header > h2
{
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 1.2rem;
}